#top {
  width: 800px;
  background-color: #dcc9f4;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.p {
  text-align: center;
}

.top-child {
  display: inline-block;
  height: auto;
  width: 20%;
  text-align: center;
  background-color:#ffd9df;
  margin-left: auto;
  margin-right: auto;
}
#middle {
  width: 800px;
  height: 800px;
  background-color: #ffd9df ;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#middle-child01,
#middle-child02,
#middle-child03 {
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: #ffd9df;
  position: absolute;
}
#middle-child01 {
  position: absolute;
  background-color: #87ceed;
}
#middle-child02 {
  position: absolute;
  background-color: #87ceed;
}
#middle-child03 {
  position: absolute;
  background-color: #87ceed;
}

#middle-child01 {
  position: absolute;
  top: 100px;
  left: 100px;
}
#middle-child02 {
  position: absolute;
  top: 300px;
  left: 300px;
}
#middle-child03 {
  position: absolute;
  top: 500px;
  left: 500px;
}
#bottom {
  position:relative;
  width: 800px;
  height: 300px;
  background-color: #87ceed;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#bottom-child01,
#bottom-child02,
#bottom-child03 {
  background-color: #e5dcf0;
  position: relative;
  width: 400px;
  height: 100px;
}
#bottom-child02 {
  left: 200px;
}
#bottom-child03 {
  left: 400px;
}
